.button {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 8px;
	padding: 11px 0;
	width: 100%;
	border: none;
	border-radius: 8px;
	line-height: 24px;
	text-transform: uppercase;
	transition: 0.2s ease-out;

	&__azure {
		width: 210px;
		color: #fff;
		background-color: $azure;
		&:hover {
			background-color: darken($azure, 10%);
		}
		img {
			width: 16px;
			height: 16px;
		}
	}

	&__outline {
		width: 100%;
		background-color: #fff;
		border: 1px solid $dark700;
		&:hover {
			background-color: $oxford;
			border-color: $oxford;
			color: #fff;
		}
	}

	&__yellow {
		color: $maincolor;
		background-color: $yellow;
		&:hover {
			background-color: lighten($color: $yellow, $amount: 10%);
		}
	}
}
