.footer {
  background-color: $oxford;
  color: #FFF;
  margin-top: 80px;
  &__nav {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
    padding: 70px 0;
  }
  &__list{
    p {
      text-transform: uppercase;
      color: $white500;
      margin-bottom: 24px;
    }
    ul {
      max-width: 180px;
      width: 100%;
      margin-bottom: 24px;
      li {
        margin-bottom: 16px;
        a {
          color: #FFF;
          line-height: 130%;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  &__links {
    display: flex;
    align-items: center;
    justify-content: center;
    border-top: 1px solid $azure;
    border-bottom: 1px solid $azure;
    a {
      max-width: 410px;
      width: 100%;
      padding: 15px 0;
      color: #FFF;
      text-align: center;
      border-left: 1px solid $azure;
      border-right: 1px solid $azure;
      @media (max-width: $mobileSmall) {
        font-size: 12px;
      }
      &:first-child {
        text-align: left;
        padding-left: 15px;
        border-left: none;
        @media (max-width: $tablet) {
          text-align: center;
          padding-left: 0;
        }
      }

      &:last-child {
        text-align: right;
        padding-right: 15px;
        border-right: none;

        @media (max-width: $tablet) {
          text-align: center;
          padding-right: 0;
        }
      }
    }
  }
  &__bottom {
    .footer__container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;
      @include adaptiv-value("padding-top", 30, 15, 1);
      @include adaptiv-value("padding-bottom", 30, 15, 1);
      @media (max-width: $mobileMedium) {
        justify-content: center;
        gap: 15px;
      }
      p {
        color: #FFF;
        @media (max-width: $mobileMedium) {
          text-align: center;
        }
      }
      .copyright {
        color: $white500;
      }
    }
  }
}