<div class="accordion-item" data-expanded="false">
  <div class="accordion-header">
    <h6>Ce este Biroul Relațiilor cu Diaspora (BRD) și care este scopul său?</h6>
    <button class="accordion-button">
      <span></span>
    </button>
  </div>
  <div class='accordion-body'>
    <div class="accordion-associates__body">
      <strong>
        Association Culturelle Belgo Moldave "Casa Mare"
      </strong>
      <p>Belgia, Bruxelles</p>
      <a href="mailto:lidia.sigarevschi@gmail.com">lidia.sigarevschi@gmail.com</a>
    </div>
    <div class="accordion-associates__body">
      <strong>
        Association Culturelle Belgo Moldave "Casa Mare"
      </strong>
      <p>Belgia, Bruxelles</p>
      <a href="mailto:lidia.sigarevschi@gmail.com">lidia.sigarevschi@gmail.com</a>
    </div>
    <div class="accordion-associates__body">
      <strong>
        Association Culturelle Belgo Moldave "Casa Mare"
        </p>
        <p>Belgia, Bruxelles</p>
        <a href="mailto:lidia.sigarevschi@gmail.com">lidia.sigarevschi@gmail.com</a>
    </div>
    <!-- <p>
      BRD este o entitate guvernamentală din Republica Moldova responsabilă de relațiile cu cetățenii
      moldoveni care locuiesc în străinătate (diaspora). Scopul BRD este de a facilita integrarea diasporei
      în societatea moldovenească, de a promova colaborarea dintre diaspora și autoritățile din Moldova și
      de a oferi sprijin diasporei în diverse domenii, cum ar fi afaceri, educație, cultură și participare
      politică.
    </p> -->
  </div>
</div>