<article class="post">
	<div class="post__thumbnail">
		<img src="@img/images/article.png" alt="titlul" />
	</div>
	<div class="post__body">
		<a href="/">
			O nouă școală de studiere a limbii române a fost lansată la Verona,
			Italia Lorem ipsum dolor sit amet consectetur adipisicing elit.
			Dolores!
		</a>
		<p>
			Primăvara a venit cu vești bune pentru copiii din familiile
			conaționalilor, stabiliți la Verona în Italia. Și asta pentru că, în
			sfârșit aceștia au ocazia să frecventeze „Laboratorul de limba
			română - Ghiocel”. Inițiativa aparține Raisei Roșca, scriitoare,
			pedagog și mamă care știe cum e să crești și să educi copiii într-o
			țară străină și cât de importantă este conexiunea cu rădăcinile.
		</p>
	</div>
	<div class="post__footer">
		<time datetime="20.03.2024">20 martie 2024</time>
		/
		<a href="#">noutăți</a>
	</div>
</article>
