<header class="header">
  <div class="band"></div>
  <div class='header__container'>
    <div class='header__upper'>
      <div class='header__left'>
        <img src="@img/logos/gov.png" alt="gov">
        <a href='#' class='header__logo'>
          <img src="@img/logos/logo.svg" alt="Logo">
          <h2>Biroul Relații <br /> cu Diaspora</h2>
        </a>
      </div>
      <div class='header__right'>
        <form action="#" class='header__search search'>
          <input type="text">
          <button type='button' class='header__search-button'>
            <img src="@img/icons/search.svg" alt="search">
          </button>
        </form>
        <div class='languages dropdown' data-dropdown>
          <button type='button' class='dropdown-button' data-dropdown-button>
            <img src="@img/icons/globe.svg" alt="glove">
          </button>
          <ul class='languages-list dropdown-menu'>
            <li class='languages-list__item current'>
              <button>
                <img src="@img/icons/ro.svg" alt="ro">
                <span>Română</span>
              </button>
            </li>
            <li class='languages-list__item'>
              <button>
                <img src="@img/icons/en.svg" alt="en">
                <span>English</span>
              </button>
            </li>
            <li class='languages-list__item'>
              <button>
                <img src="@img/icons/ru.svg" alt="ru">
                <span>Русский</span>
              </button>
            </li>
          </ul>
        </div>
        <a href='#' class='button button__azure'>
          Contactează-ne
          <img src="@img/icons/arrow-up-right.svg" alt="arrow">
        </a>
      </div>
    </div>
  </div>
  <nav class="header-nav">
    <ul class='header-nav__list header-nav__container'>
      <li class='nav-list__item'>
        <a href="#">
          <img src="@img/icons/home.svg" alt="home">
        </a>
      </li>
      </li>
      <li class='nav-list__item'>
        <a href="#">
          BRD
          <img src="@img/icons/chevron-down.svg" alt="chevron-down">
        </a>
        <ul class="submenu">
          <li class='submenu__item'>
            <a href="#">Despre noi</a>
          </li>
          <li class='submenu__item'>
            <a href="#">Echipa</a>
          </li>
          <li class='submenu__item'>
            <a href="#">Funcții vacante</a>
          </li>
          <li class='submenu__item'>
            <a href="#">Rapoarte</a>
          </li>
          <li class='submenu__item'>
            <a href="#">Contactează-ne</a>
          </li>
        </ul>
      </li>
      <li class='nav-list__item'>
        <a href="#">
          Transparență
          <img src="@img/icons/chevron-down.svg" alt="chevron-down">
        </a>
      </li>
      <li class='nav-list__item'>
        <a href="#">
          Implică-te
          <img src="@img/icons/chevron-down.svg" alt="chevron-down">
        </a>
      </li>
      <li class='nav-list__item'>
        <a href="#">
          Revenire
          <img src="@img/icons/chevron-down.svg" alt="chevron-down">
        </a>
      </li>
      <li class='nav-list__item'>
        <a href="#">
          Comunicare și Media
          <img src="@img/icons/chevron-down.svg" alt="chevron-down">
        </a>
      </li>
      <li class='nav-list__item'>
        <a href="#">
          Istorii de succes
          <img src="@img/icons/chevron-down.svg" alt="chevron-down">
        </a>
      </li>
      <li class='nav-list__item'>
        <a href="#">
          Informații utile
          <img src="@img/icons/chevron-down.svg" alt="chevron-down">
        </a>
      </li>
    </ul>
  </nav>
</header>