<header class="header">
  <div class="band">

  </div>
  <div class='header__container'>
    <div class='header__upper'>
      <div class='header__left'>
        <img src="@img/logos/gov.png" alt="gov">
        <a href='#' class='header__logo'>
          <img src="@img/logos/logo.svg" alt="Logo">
          <h2>Biroul Relații <br /> cu Diaspora</h2>
        </a>
      </div>
      <div class='header__right'>
        <form action="#" class='header__search search'>
          <input type="text">
          <button type='button' class='header__search-button'>
            <img src="@img/icons/search.svg" alt="search">
          </button>
        </form>
        <div class='languages dropdown' data-dropdown>
          <button type='button' class='dropdown-button' data-dropdown-button>
            <img src="@img/icons/globe.svg" alt="glove">
          </button>
          <ul class='languages-list dropdown-menu'>
            <li class='languages-list__item'>
              <button>
                <img src="@img/icons/ro.svg" alt="ro">
                <span>Română</span>
              </button>
            </li>
            <li class='languages-list__item'>
              <button>
                <img src="@img/icons/en.svg" alt="en">
                <span>English</span>
              </button>
            </li>
            <li class='languages-list__item'>
              <button>
                <img src="@img/icons/ru.svg" alt="ru">
                <span>Русский</span>
              </button>
            </li>
          </ul>
        </div>
        <button class='button button__azure'>
          Contactează-ne
          <img src="@img/icons/arrow-up-right.svg" alt="arrow">
        </button>
      </div>
    </div>
  </div>
</header>