<dialog class='modal'>
  <button autofocus class='modal__close'>
    <i class=' icon-x-mark'></i>
  </button>
  <h2>Newsletter</h2>
  <p>Nu rata cele mai importante știri și anunțuri!</p>

  <form class='modal__form'>
    <label for="lastname">
      <span>Nume</span>
      <input type=" text" placeholder='Rusu' name='lastname' id='lastname'>
    </label>
    <label for="firstname">
      <span>Prenume</span>
      <input type="text" placeholder='Alexandru' name='firstname' id='firstname'>
    </label>
    <label for="country">
      <span>Tara</span>
      <input type="text" placeholder='Anglia' name='country' id='country'>
    </label>
    <label for="email">
      <span>Email</span>
      <input type="text" placeholder='user@gmail.com' name='email' id='email'>
    </label>
    <button>
      Finisează formular
      <i class="icon-check"></i>
    </button>
  </form>
</dialog>