<div class='pagination'>
  <div class='pagination-results'>
    Showing 1 to 10 of 97 results
  </div>
  <div class='pagination-list'>
    <a href='#' class='pagination__button pagination__button--left'>
      <i class="icon-chevron-pagination-left"></i>
    </a>
    <a href='#' class='pagination-item active'>1</a>
    <a href='#' class='pagination-item'>2</a>
    <a href='#' class='pagination-item'>3</a>
    <a href='#' class='pagination-item disabled'>...</a>
    <a href='#' class='pagination-item'>8</a>
    <a href='#' class='pagination-item'>9</a>
    <a href='#' class='pagination-item'>10</a>
    <a href='#' class='pagination__button pagination__button--right'>
      <i class="icon-chevron-pagination-right"></i>
    </a>
  </div>
</div>