h1 {
	@include adaptiv-value('font-size', 48, 38, 1);
	font-weight: 700;
	line-height: 64px;
}
h2 {
	@include adaptiv-value('font-size', 36, 22, 1);
	font-weight: 700;
	line-height: 120%;
}
h3 {
	font-size: 32px;
	font-weight: 700;
}
h4 {
	@include adaptiv-value('font-size', 24, 18, 1);
	font-weight: 700;
}
h5 {
	@include adaptiv-value('font-size', 20, 16, 1);
	font-weight: 600;
}
h6 {
	font-size: 18px;
	font-weight: 500;
	line-height: 28px;
}

strong {
	font-size: 16px;
	font-weight: 500;
}

p {
	line-height: 22px;
}

.no-scrollbar {
	-ms-overflow-style: none;
	scrollbar-width: none;
	overflow-y: scroll;
}
.no-scrollbar::-webkit-scrollbar {
	display: none;
}

.tabs__content {
	display: none;
	&--active {
		display: block;
	}
}

.border-rounded {
	border: 1px solid $lines;
	border-radius: 8px;
}


.full-content {
	margin: 50px auto;
}

input {
	width: 100%;
	outline: none;
	border: none;
}

.media-item {
	border: 1px solid $lines;
	border-radius: 8px;
	transition: 0.1s;
	&:hover {
		border-color: $oxford;
		* {
			border-color: $oxford;
		}
	}
	> img {
		padding: 16px;
		border-bottom: 1px solid $lines;
	}
	&__body {
		padding: 16px;
		border-bottom: 1px solid $lines;
		h6 {
			line-height: 26px;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			max-height: 5rem;
			margin-bottom: 10px;
		}
		p {
			line-height: 24px;
			overflow: hidden;
			display: -webkit-box;
			-webkit-line-clamp: 3;
			-webkit-box-orient: vertical;
			max-height: 5rem;
		}
	}
	&__footer {
		padding: 16px 12px;
		time {
			color: $dark700;
		}
	}
}

.aside-links {
	h4 {
		margin-bottom: 20px;
	}
	&__item {
		display: flex;
		align-items: center;
		gap: 10px;
		border: 1px solid $lines;
		padding: 16px;
		border-radius: 8px;
		margin-bottom: 10px;
		transition: all 0.2s;
		&:hover {
			border-color: $oxford;
			p {
				text-decoration: underline;
			}
		}
	}
}

.socials {
	display: flex;
	align-items: center;
	gap: 10px;
}

.grid {
	display: grid;
}

.not-found {
	h4{
		span {
			color: $azure;
		}
	}
}

.col-span-full {
	grid-column: 1 / -1;
}

.posts-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
	@include adaptiv-value('gap', 30, 20, 1);
}

.page-grid {
	display: grid;
	grid-template-columns: minmax(250px, 300px) 1fr;
	@include adaptiv-value('gap', 30, 20, 1);

	@media (max-width: $mobile) {
		grid-template-columns: 1fr;
		gap: 50px;
	}
}

.section-title {
	border-width: 1px 0 1px 0;
	border-style: solid;
	border-color: $lines;
	padding: 24px;
	background-color: #fafafa;
}

.modal {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 10;
	max-width: 600px;
	width: 100%;
	border: none;
	box-shadow: 0px 4px 30px 0px rgba(132, 132, 132, 0.15);
	border-radius: 8px;
	@include adaptiv-value('padding', 50, 15, 1);

	&::backdrop {
		background-color: rgba(0, 0, 0, 0.6);
		opacity: 0.75;
	}

	&__close {
		position: absolute;
		top: 20px;
		right: 34px;
		width: 20px;
		height: 20px;
		cursor: pointer;
	}

	h2 {
		margin-bottom: 10px;
	}

	p {
		color: $dark700;
		margin-bottom: 42px;
	}

	&__form {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		gap: 24px;
		label {
			span {
				display: block;
				margin-bottom: 5px;
			}
			input {
				border: 1px solid $lines;
				border-radius: 8px;
				padding: 10px 12px;
				font-size: 16px;
				transition: 0.2s ease-out;
				&:hover,
				&:focus-within {
					border-color: $dark500;
				}
			}
		}
		button {
			display: flex;
			align-items: center;
			justify-content: center;
			gap: 12px;
			grid-column: 2 span;
			margin-top: 12px;
			border: 1px solid $maincolor;
			border-radius: 8px;
			padding: 10px 0;
			text-transform: uppercase;
			transition: 0.2s ease-out;
			&:hover {
				background-color: $oxford;
				color: white;
			}
		}
	}
}

.subcompartiment {
	min-height: 60vh;
	&__container {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
		gap: 10px;
	}
	&__button {
		display: flex;
		align-items: center;
		justify-content: center;
		padding-inline: 5px;
		@include adaptiv-value('padding-top', 30, 20, 1);
		@include adaptiv-value('padding-bottom', 30, 20, 1);
		border: 1px solid $lines;
		border-radius: 8px;
		text-align: center;
		transition: 0.2s;
		&:hover {
			border-color: $oxford;
		}
	}
}

.cards-grid {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
}

.page-title {
	padding: 24px;
	background-color: #fafafa;
	border: 1px solid $lines;
	border-radius: 8px;
	margin-bottom: 10px;
}

.underline-effect {
	position: relative;
	border-bottom: 1px solid $lines;
	&::after {
		content: '';
		position: absolute;
		bottom: -1px;
		left: 0;
		width: 100%;
		height: 1px;
		background-color: $oxford;
		transform: scaleX(0);
		transform-origin: right;
		transition: transform 0.3s;
	}
	&:hover::after {
		transform: scaleX(1);
		transform-origin: left;
	}
	&.active {
		&::after {
			transform: scaleX(1);
		}
	}
}

.categories {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	@include adaptiv-value('gap', 24, 10, 1);
	margin-bottom: 24px;
	@media (max-width: $mobile) {
		grid-template-columns: repeat(2, 1fr);
	}
	&-button {
		width: 100%;
		padding: 16px 25px;
		text-align: center;
		white-space: nowrap;
	}
}

.years {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 24px;
	margin: 20px 0;
	@media (max-width: $mobile) {
		justify-content: center;
	}
	&-button {
		padding: 16px 30px;
		&.active {
			&::after {
				width: 100%;
			}
		}
	}
}

.guide-cards {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
	gap: 20px;
	background-color: #fafafa;
	border: 1px solid $lines;
	padding: 10px;
	border-radius: 8px;
}

.wp-block-group__inner-container:has(.link) {
	padding: 20px;
	border-bottom: 1px solid $lines;
	&:last-of-type{
		border-bottom-width: 0;
	}
}

.program-single__body
 .wp-block-group:has(.wp-block-heading.section-title)
 .wp-block-group {
 padding: 24px;
}

.wp-block-group__inner-container:has(.link) {
 padding: 0;
}

.page-12 .program-single__content {
 padding: 0;
}

.wp-block-group.files-block .link-title {
 font-size: 16px;
 font-weight: 500;
 transition: 0.2s;
 color: #232323;
}

.wp-block-group.files-block .wp-block-file.link {
 display: flex;
 align-items: center;
 gap: 8px;
 font-size: 14px;
}

.link-title {
	color: $maincolor !important;
	font-size: 16px;
	font-weight: 500;
	transition: 0.2s;
	margin-bottom: 15px !important;
	&:hover {
		color: $azure;
	}
}

.gallery {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
	gap: 10px;
	padding: 24px;
	&-item {
		height: 220px;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		&.video {
			position: relative;
			i {
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				font-size: 24px;
				color: #fff;
			}
			&::before {
				content: '';
				position: absolute;
				inset: 0;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.5);
			}
		}
	}
}

.single-page-links {
	border-radius: 0;
	margin: 0;
	border-width: 0;
	.links-item {
		&:last-child {
			border-bottom-width: 0px;
		}
	}
}

.not-found {
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 40px;
	@include adaptiv-value('padding-top', 60, 30, 1);
	@include adaptiv-value('padding-bottom', 60, 30, 1);
	@media (max-width: $tablet) {
		flex-direction: column-reverse;
	}
	img {
		@include adaptiv-value('width', 610, 300, 1);
	}
	&__body {
		p {
			color: $dark700;
			margin-top: 8px;
			margin-bottom: 24px;
		}
		a {
			display: block;
			color: $oxford;
			text-decoration: underline;
			margin-bottom: 12px;
			&:hover {
				color: $azure;
			}
		}
		.button {
			display: flex;
			max-width: 210px;
			margin-top: 24px;
			text-decoration: none;
			&:hover {
				color: #fff;
			}
		}
	}
}
